{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HemoPheno4HF</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="nav">
		<h1>HemoPheno4HF <span style="float: right; font-weight: lighter; font-size: 20px"><a href="{% url 'index' %}">invasive</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'all' %}">all</a></span></h1>
	</div>

	<div class="main">
		<h1>Invasive Hemodynamic Phenotyping</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, minus deleniti. Quia consectetur laboriosam aperiam inventore, suscipit id iusto neque culpa? Perferendis mollitia corporis saepe aspernatur enim necessitatibus voluptatibus earum.</p>
		<hr>

		<form>
			<h2>Example Datasets</h2>
			<div class="examples">
				<input type="button" value="Low Risk" style="width: 100px"> 
				<input type="button" value="Medium Risk" style="width: 100px">
				<input type="button" value="High Risk" style="width: 100px">
			</div>
			<h2>Patient Parameters</h2>
			<div class="col_1">
			<h4>Demographics</h4>
				<div class="age">
					<label for="age">Age</label>
					<input type="number" id="age" name="age" min=0 style="width: 50px; float: right;">
				</div>

				<div class="ef">
					<label for="ef">Ejection Fraction</label>
					<input type="number" id="ef" name="ef" min=0 style="width: 50px; float: right;">
				</div>
			<h4>Heart Rate and Blood Pressure</h4>
				<div class="hr">
					<label for="hr">Heart Rate</label>
					<input type="number" id="hr" name="hr" min=0 style="width: 50px; float: right;">
				</div>

				<div class="dia">
					<label for="dia">BP Diastolic</label>
					<input type="number" id="dia" name="dia" min=0 style="width: 50px; float: right;">
				</div>

				<div class="sys">
					<label for="sys">BP Systolic</label>
					<input type="number" id="sys" name="sys" min=0 style="width: 50px; float: right;">
				</div>
		</div>
		<div class="col_2">
			<h4>Hemodynamics</h4>
			<div class="rap">
				<span title="Right Atrial Pressure"><label for="rap">RAP</label></span>
				<input type="number" id="rap" name="rap" min=0 step="0.0000000001" style="width: 50px; float: right;">
			</div>

			<div class="pas">
				<span title="Pulmonary Artery Pressure Systolic"><label for="pas">PAS</label></span>
				<input type="number" id="pas" name="pas" min=0 step="0.0000000001" style="width: 50px; float: right;">
			</div>

			<div class="pad">
				<span title="Pulmonary Artery Pressure Diastolic"><label for="pad">PAD</label></span>
				<input type="number" id="pad" name="pad" min=0 step="0.0000000001" style="width: 50px; float: right;">
			</div>

			<div class="pamn">
				<span title="Mean Pulmonary Pressure"><label for="pamn">PAMN</label></span>
				<input type="number" id="pamn" name="pamn" min=0 step="0.0000000001" style="width: 50px; float: right;">
			</div>

			<div class="pcwp">
				<span title="Pulmonary Capillary Wedge Pressure"><label for="pcwp">PCWP</label></span>
				<input type="number" id="pcwp" name="pcwp" min=0 step="0.0000000001" style="width: 50px; float: right;">
			</div>

			<div class="pcwp_mn">
				<span title="Pulmonary Capillary Wedge Pressure Mean"><label for="pcwp">PCWP Mean</label></span>
				<input type="number" id="pcwp_mn" name="pcwp_mn" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="co">
				<span title="Cardiac Output"><label for="co">CO</label></span>
				<input type="number" id="co" name="co" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="ci">
				<span title="Cardiac Index"><label for="ci">CI</label></span>
				<input type="number" id="ci" name="ci" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="mixed">
				<span title="Mixed Venous O2"><label for="mixed">MIXED</label></span>
				<input type="number" id="mixed" name="mixed" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>
			<input type="button" value="CALCULATE COMPOSITE" style="width: 100%" onclick="calc_comp()">
		</div>
		<div class="col_3">
			<h4>Composite</h4>
			<div class="map">
				<span title="Mean Arterial Pressure"><label for="map">MAP</label></span>
				<input type="number" id="map" name="map" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="mpap">
				<span title="Mean Pulmonary Artery Pressure"><label for="mpap">MPAP</label></span>
				<input type="number" id="mpap" name="mpap" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="cpi">
				<span title="Cardiac Power Index"><label for="cpi">CPI</label></span>
				<input type="number" id="cpi" name="cpi" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="pp">
				<span title="Systemic Pulse Pressure (Left Side)"><label for="pp">PP</label></span>
				<input type="number" id="pp" name="pp" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="ppp">
				<span title="Systemic Arterial Proportional Pulse Pressure"><label for="ppp">PPP</label></span>
				<input type="number" id="ppp" name="ppp" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="papp">
				<span title="Pulmonary Arterial Proportional Pulse Pressure (Right Side)"><label for="papp">PAPP</label></span>
				<input type="number" id="papp" name="papp" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="svr">
				<span title="Systemic Vascular Resistance"><label for="svr">SVR</label></span>
				<input type="number" id="svr" name="svr" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="rat">
				<span title="Ratio of RAP to PCWP"><label for="mixed">RAT</label></span>
				<input type="number" id="rat" name="rat" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="pprat">
				<span title="Ratio of PP / HR"><label for="pprat">PPRatio</label></span>
				<input type="number" id="pprat" name="pprat" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="papi">
			<span title="Pulmonary Artery Pulsality Index"><label for="papi">PAPi</label></span>
				<input type="number" id="papi" name="papi" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="sapi">
				<span title="Systemic Arterial Pulsatility Index"><label for="sapi">SAPi</label></span>
				<input type="number" id="sapi" name="sapi" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="cpp">
				<span title="Coronary Perfusion Pressure"><label for="sapi">CPP</label></span>
				<input type="number" id="cpp" name="cpp" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>

			<div class="praprat">
				<span title="Ratio of PP / RAP"><label for="praprat">PRAPRAT</label></span>
				<input type="number" id="praprat" name="praprat" step="0.0000000001" min=0 style="width: 50px; float: right;">
			</div>
		</div>
		<div class="col_4">
			<input type="reset" value="CLEAR FIELDS" style="width: 100%">
			<hr>
			<h4>Compute Outcomes</h4>
			<input type="submit" value="DEATH" style="width: 100%"><br/>
			<input type="submit" value="REHOSPITALIZATION" style="width: 100%"><br/>
			<input type="submit" value="READMISSION" style="width: 100%"><br/>
			<input type="submit" value="ALL" style="width: 100%">

		</div>
		</span>
	</form>
	</div>

</body>